doctype
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 color
    .content
        block content
    footer
      p C:||
    block scripts
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js')
      script(src='/javascripts/global.js')
