doctype
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .title
      h1 color 
        i.fa.fa-crosshairs
      span.pos
    span.state
    .content
        block content
    footer
      p C:||
    block scripts
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js')
      script(src='/socket.io/socket.io.js')
      script(src='/javascripts/global.js')
